.lead__signature {
  text-align: left;
  padding-top: 8px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .lead__signature {
    padding-left: 24px;
  }
}

@media (max-width: 767px) {
  .lead__signature {
    padding-left: 16px;
  }
}
