.travel__title {
  margin: 0;
  padding: 0;
  max-width: 720px;
  margin-left: 280px;
  margin-right: 280px;
  margin-top: 56px;
  text-align: center;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
}

@media screen and (max-width: 1024px) {
  .travel__title {
    margin-left: 152px;
    margin-right: 152px;
    margin-top: 48px;
  }
}

@media screen and (max-width: 900px) {
  .travel__title {
    margin-left: 24px;
    margin-right: 24px;
  }
}
@media screen and (max-width: 780px) {
  .travel__title {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 480px) {
  .travel__title {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.1;
  }
}
