.travel__lead-polka {
  max-width: 984px;
  margin-left: 148px;
  margin-right: 148px;
}

@media screen and (max-width: 1024px) {
  .travel__lead-polka {
    max-width: 928px;
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 900px) {
  .travel__lead-polka {
    max-width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 780px) {
  .travel__lead-polka {
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .travel__lead-polka {
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }
}
