.travel__lead-polka {
  margin: 0;
  padding: 0;
  max-width: 984px;
  width: 100%;
  margin-left: 148px;
  margin-right: 148px;
  object-position: center;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .travel__lead-polka {
    max-width: 928px;
    width: 90%;
    margin-left: 48px;
    margin-right: 48px;
    object-position: center;
  }
}

@media screen and (max-width: 900px) {
  .travel__lead-polka {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 780px) {
  .travel__lead-polka {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .travel__lead-polka {
    width: 100%;
  }
}
