.travel__lead-polka-signature {
  margin-top: 8px;
  margin-left: 148px;
  margin-bottom: 92px;
  justify-self: left;
  text-align: left;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1024px) {
  .travel__lead-polka-signature {
    margin-left: 48px;
  }
}

@media screen and (max-width: 780px) {
  .travel__lead-polka-signature {
    margin-left: 24px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 480px) {
  .travel__lead-polka-signature {
    margin-left: 16px;
    margin-bottom: 64px;
  }
}
