.cover__baikal {
  position: relative;
  background-image: url(../../../images/cover-trains.jpg);
  width: 100%;
  display: flex;
  background-size: cover;
  color: #fff;
  text-decoration: none;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.cover__baikal::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #2a2c2f;
  opacity: 0.3;
}

.cover__baikal:hover::before {
  position: absolute;
  content: "";
  width: 100%;
  opacity: 0.8;
  background: #2a2c2f;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

@media screen and ((min-width: 1024px) and (max-width: 1280px)) {
  .cover__baikal {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 1024px) {
  .cover__baikal {
    max-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__baikal {
    max-height: 490px;
  }
}

@media screen and (max-width: 320px) {
  .cover__baikal {
    max-height: 200px;
    margin-bottom: 64px;
  }
}

.cover__baikal-subtitle {
  position: relative;
  max-width: 360px;
  width: 100%;
  text-align: center;
  vertical-align: center;
  margin-top: 32px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 245px;
  margin-left: 412px;
  margin-right: 412px;
  z-index: 3;
}
