.cover__baikal {
  margin: 12px 0 0;
  padding: 245px 312px;
  width: 100%;
  max-width: 1184px;
  min-height: 740px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.cover__baikal::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #2a2c2f;
  opacity: 0.3;
}

.cover__baikal:hover::before {
  content: "";
  content: "";
  position: absolute;
  width: 100%;
  opacity: 0.8;
  background: #2a2c2f;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .cover__baikal {
    padding: 195px 232px;
    min-height: 640px;
  }
}

@media (min-width: 541px) and (max-width: 1023px) {
  .cover__baikal {
    padding: 115px 104px;
    min-height: 480px;
  }
}

@media (min-width: 320px) and (max-width: 540px) {
  .cover__baikal {
    min-height: 200px;
    padding: 33px 16px;
  }
}
