.cover__baikal-subtitle {
  margin: 0;
  position: relative;
  max-width: 360px;
  width: 100%;
  text-align: center;
  vertical-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  z-index: 3;
}

@media (min-width: 320px) and (max-width: 540px) {
  .cover__baikal-subtitle {
    max-width: 288px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
  }
}
