@media screen and (max-width: 480px) {
  .cover__baikal-subtitle {
    width: 100%;
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    margin-left: 16px;
    margin-right: 16px;
  }
}
