.description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: left;
  max-width: 690px;
  margin: 0;
  padding: 0;
  margin-left: 148px;
}

@media screen and (max-width: 1024px) {
  .description {
    margin-left: 48px;
  }
}

@media screen and (max-width: 780px) {
  .description {
    margin-left: 24px;
    margin-right: 24px;
    max-width: 720px;
  }
}

@media screen and (max-width: 480px) {
  .description {
    margin-left: 16px;
    margin-right: 16px;
  }
}
