.photo-gallery {
  margin: 0;
  padding: 0;
  display: grid;
  max-width: 95%;
  justify-content: space-between;
  align-items: center;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  row-gap: 16px;
  column-gap: 1.4%;
  margin-top: 92px;
  margin-left: 3.75%;
  margin-right: 3.75%;
  margin-bottom: 92px;
}

.photo-gallery__photo {
  margin: 0;
  padding: 0;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .photo-gallery {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 14px;
    column-gap: 1.4%;
  }
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 780px) {
  .photo-gallery {
    margin-top: 88px;
    margin-bottom: 88px;
    margin-left: 3.1%;
    margin-right: 3.1%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .photo-gallery {
    margin-top: 88px;
    margin-bottom: 88px;
    margin-left: 5%;
    margin-right: 5%;
    column-gap: 3.75%;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: fit-content(100%);
  }
}
