.travel__text {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .travel__text {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .travel__text {
    padding-left: 16px;
    padding-right: 16px;
  }
}
